<h1> Here are all your lists! </h1>

<hr>

<% @lists.each do |list| %>
  <div class="card-product">
    <div class="card-product-infos">
      <%= link_to "#{list.name}", list_path(list) %>
    </div>
  </div>
<% end %>


<!--
<ul>
  <% @lists.each do |list| %>
    <li><%= list.name %></li>
  <% end %>
</ul>
-->